body {
    background-color: white;
}

#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#search {
    height: 35px;
    width: 525px;
    border-radius: 50px;
    border: solid 1px lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

