body {
    background-color: white;
    font-size: 14px;
    font-family: arial ,sans-serif;
}

#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    
}

#search {
    height: 35px;
    width: 525px;
    border-radius: 50px;
    border: solid 1px lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav .right {
    margin-left: 1470px;
}

.center {
    margin-left: 400px;
}

.secondright {
    margin-left: 600px;
}

.leaf {
    padding: 0px;
    margin-right: 0px;
    height: 15px;
    width: 15px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

  
  li.nav{
    float: left;
  }
  
  li.nav a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
  }

  #app-icon,
  #account-icon {
      height: 25px;
      width: 25px;
  } 

  img {
      display: block;
  }

  ul {
    list-style-type: none;
    margin: 175px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color:rgb(242, 242, 242);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(112, 117, 122);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 button {
     padding: 10px;
     background-color: rgb(242, 242, 242);
     border: none;
     color: #222;
 }

  .container {
    height: 200px;
    position: relative;
  }
  
  .cent {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }