body {
    background-color: white;
}

#google-logo {
    display: flex;
    align-self: center;
}

#search {
    height: 35px;
    width: 500px;
    border-radius: 50px;
    border: solid 1px lightgray;
}